# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

#git
/.git
package-lock.json
package-lock.json
src/app/lib/firebase/server/consultoria-d1072-firebase-adminsdk-fbsvc-348d22fe8e.json
etc/secrets/consultoria-d1072-firebase-adminsdk-fbsvc-348d22fe8e.json
docs
pnpm-lock.yaml
client_secret_515809926472-2l5rogdtjkrrkmoiho209rd2r358aaiu.apps.googleusercontent.com.json
irina-462416-d99d340954a9.json
etc/secrets/
irina-462416-2f32be502aa4.json
etc/secrets/irina-462416-2f32be502aa4.json
